{% extends "index.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="display-4 text-center my-5">About CoderRank</h1>
    <p class="fs-5">CoderRank is the ultimate quiz app designed to help aspiring programmers challenge their coding skills and climb the ranks. Our platform offers a variety of quizzes covering different programming languages, algorithms, and problem-solving techniques.</p>
    <p class="fs-5">At CoderRank, we believe in providing a fun and engaging learning experience for users of all skill levels. Whether you're a beginner looking to learn the basics or an experienced coder aiming to sharpen your skills, CoderRank has something for everyone.</p>
    <p class="fs-5">Join our community today and start your journey towards becoming a better programmer!</p>
</div>
{% endblock content %}
