{% extends "index.html" %}
{% load static %}

{% block content %}
<div class="container text-center">
    <h1 class="display-5 fw-bold my-5">Welcome to CoderRank</h1>
    <p class="fs-5">Challenge your coding skills and climb the ranks with CoderRank: the ultimate quiz app for
        aspiring programmers.</p>
    <div class="d-inline-flex gap-2 mb-5">
        <a href="./quiz.html" class="btn btn-success">Take a Quiz</a>
        <a href="./register.html" class="btn btn-primary">Sign Up</a>
    </div>

    <div class="container text-center">
        <h1 class="display-4 text-center my-5">LeaderBoard</h1>
        <div class="row">
            <div class="col-lg-4 position-relative mb-5">
                <img src="{% static 'images/blank-profile-picture-973460_1280.png'%}" width="140" height="140" alt="user"
                    class="img-fluid bd-placeholder-img rounded-circle">
                <span class="position-absolute top-0 start-90 translate-middle badge rounded-pill bg-success">
                    1
                    <span class="visually-hidden">unread messages</span>
                </span>
                <h2 class="fw-normal">@Sheeja</h2>
                <p>Some representative placeholder content for the three columns of text below the carousel. This is
                    the
                    first column.</p>
                <p><a class="btn btn-secondary" href="./profile.html">View Profile »</a></p>
            </div>
            <div class="col-lg-4 position-relative mb-5">
                <img src="../static/blank-profile-picture-973460_1280.png" width="140" height="140" alt="user"
                    class="img-fluid bd-placeholder-img rounded-circle">
                <span class="position-absolute top-0 start-90 translate-middle badge rounded-pill bg-success">
                    1
                    <span class="visually-hidden">unread messages</span>
                </span>
                <h2 class="fw-normal">@Sheeja</h2>
                <p>Some representative placeholder content for the three columns of text below the carousel. This is
                    the
                    first column.</p>
                <p><a class="btn btn-secondary" href="./profile.html">View Profile »</a></p>
            </div>
            <div class="col-lg-4 position-relative mb-5">
                <img src="../static/blank-profile-picture-973460_1280.png" width="140" height="140" alt="user"
                    class="img-fluid bd-placeholder-img rounded-circle">
                <span class="position-absolute top-0 start-90 translate-middle badge rounded-pill bg-success">
                    1
                    <span class="visually-hidden">unread messages</span>
                </span>
                <h2 class="fw-normal">@Sheeja</h2>
                <p>Some representative placeholder content for the three columns of text below the carousel. This is
                    the
                    first column.</p>
                <p><a class="btn btn-secondary" href="./profile.html">View Profile »</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}