{% extends "index.html" %}
{% load static %}

{% block content %}
<div class="container text-center">
    <h1 class="display-5 fw-bold my-5">Welcome to CoderRank</h1>
    <p class="fs-5">Challenge your coding skills and climb the ranks with CoderRank: the ultimate quiz app for
        aspiring programmers.</p>
        <p class="fs-5">At CoderRank, we believe in providing a fun and engaging learning experience for users of all skill levels. Whether you're a beginner looking to learn the basics or an experienced coder aiming to sharpen your skills, CoderRank has something for everyone.</p>
    <div class="d-inline-flex gap-2 mb-5">
        <a href="{% url 'all_quiz' %}" class="btn btn-success">Take a Quiz</a>
        
        {%if not request.user.is_authenticated%}
        <a href="{% url 'register' %}" class="btn btn-primary">Sign Up</a>
        {%endif%}
    </div>

    <div class="container text-center">
        
        <h1 class="display-4 text-center my-5">LeaderBoard</h1>
        <div class="row">
            {%for rank in leaderboard_users%}
            <div class="col-lg-4 position-relative mb-5">
                <img src="{{rank.user.profile.profile_img.url}}" width="140" height="140" alt="user"
                    class="img-fluid bd-placeholder-img rounded-circle">
                <span class="position-absolute top-0 start-90 translate-middle badge rounded-pill bg-success">
                    {{forloop.counter}}
                    <span class="visually-hidden">unread messages</span>
                </span>
                <h2 class="fw-normal">@{{rank.user.username}}</h2>
                <p>{{rank.user.profile.bio|truncatewords:7}}</p>
                <p><a class="btn btn-secondary" href="{%url 'profile' rank.user.username %}">View Profile »</a></p>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
{% endblock content %}