{%extends 'index.html' %}
{% block title%}{{quiz.title}}-CoderRank{% endblock title%}

{% block content%}
<div class="container">
  <h1 class="display-4 text-center my-5">{{quiz.title}}-({{quiz.question_set.all|length}})</h1>
  <p class="text-center fw-bold">{{quiz.description}}</p>
</div>
<div class="container">
  <div class="d-flex justify-content-between">
    <span>
      {{quiz.created_at}}
    </span>
    <span id="timer">
      10:00
    </span>
  </div>


  <div class="questions">
    {% for question in quiz.question_set.all %}
    <div class="card mb-2 question">
      <div class="card-header fw-bold">
        Question {{forloop.counter}}
      </div>
      <div class="card-body">
        <div class="card-text mb-3">
          {{question.text}}
        </div>
        <div class="card-text">
          {% for option in question.choice_set.all %}
          <div class="form-check">
            <label class="form-check-label" for="{{option.id}}">
              <input class="form-check-input" type="radio" name="{{option.question.id}}" id="{{option.id}}">
            
              {{option.text}}
            </label>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>
    {%endfor%}
  </div>

  <form action="" method="POST">
    {%csrf_token%}
    <input type="hidden" name="score" value="0">

  <button type="submit" id="submit_button" class="btn btn-primary">Submit Quiz</button>
  </form>
</div>

<script>
  var submitButton=document.getElementById("submit_button");
  var timerSpan=document.getElementById("timer");
  var questions=document.querySelectorAll(".question");
  quizDuration=(questions.length)*60;
  //timer
  function updateTimer(){
    var minutes=Math.floor(quizDuration/60);
    var seconds=quizDuration%60;

    timerSpan.innerText=minutes+":"+seconds;
    //submit if timer is 0
    if(quizDuration<=0){
      clearTimeout(quizTimerId);
      submitQuiz();
    }else{
      quizDuration--;
    }

  }

  //Submit the quiz
  function submitQuiz(){
    console.log("Submit");

  }
  //check result and calculate score
  //highlight correct answer in green

  quizTimerId=setInterval(updateTimer,1000);
</script>
{%endblock content%}